ul {
  list-style: none;
  color: var(--primary);
  transition: .2s ease-in-out;
}

ul li, label {
  font-size: 12.5px;
  cursor: pointer;
}

.side-bar {
  width: 150px;
  padding-right: 20px;
}

.side-bar .item {
  padding: 8px 10px;
}

.side-bar .item:hover {
  background: var(--primaryHover);
  text-decoration: none;
  border-radius: 2px;
}

.side-bar label {
  padding-left: 10px;
}

.selector {
  display: none;
  width: 70%;
  margin: 0 auto;
  color: var(--secondary);
  background: var(--buttonGray);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  padding: 8px;
}

.side-bar .opened {
  animation: open-list .2s;
  height: 100%;
}

@media screen and (max-width: 720px) {
  .side-bar {
    width: 100%;
    padding: 0;
    padding-bottom: 20px;
  }
  .side-bar .item {
    text-align: center;
  }

  .selector {
    display: block;
  }
}

@keyframes  open-list {
  from {
    height: 0px;
  }
  to {
    height: 100%;
  }
}