header {
  position: fixed;
  height: 42px;
  width: 100%;
  left: 0;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 17px 0px;
  background-color: var(--primary);
  color: var(--secondary);
  z-index: 1;
}

header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

header .icon {
  font-size: 30px;
}

header button {
  color: var(--secondary);
  font-size: 13px;
  background: transparent;
  padding: 9px 20px 10px;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 600;
}

header .content, .page-layout {
  width: 74.2%;
}

@media screen and (max-width: 720px) {
  header .content {
    padding: 0;
    width: 100%;
    justify-content: center;
  }

  header .actions {
    display: none;
  }
}
