:root {
  --primary: #4a76a8;
  --primaryHover: #e1e5eb;
  --secondary: #fff;
  --gray: #edeef0;
  --modalBackground: #363636;
  --notifyError: #c34949;
  --notifyWarn: #ffbe00;
  --notifyInfo: #328ee4;
  --notifySuccess: #5dbd84;
  --buttonGray: #b9b9b9;
}

html,
body {
  height: 100%;
}

.container {
  text-align: center;
  height: 100%;
}

input[type="text"], 
input[type="password"] {
  border: 1px solid #d3d9de;  
  font-size: 14px;
  padding: 6px 12px 8px;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
}

input[type="button"] {
  margin: 0 auto;
  color: var(--secondary);
  background: var(--primary);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  padding: 8px;
  border: none;
  width: 125px;
  outline: none;
}

.icon {
  display: none;
  color: var(--primary);
  font-size: 115px;
}

@media screen and (max-width: 720px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .icon {
    display: block;
  }

  .form {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}