@import url(./header.css);
@import url(./companies.css);
@import url(./services.css);
@import url(./modal.css);
@import url(./notify.css);

:root {
  --primary: #4a76a8;
  --primaryHover: #e1e5eb;
  --secondary: #fff;
  --gray: #edeef0;
  --modalBackground: #363636;
  --notifyError: #c34949;
  --notifyWarn: #ffbe00;
  --notifyInfo: #328ee4;
  --notifySuccess: #5dbd84;
  --buttonGray: #b9b9b9;
}

:focus {
  outline: none;
}

html, 
body {
  font-family: 'Mukta', sans-serif;
  background: var(--gray);
  height: 100%;
}

.container {
  min-height:100%;
  position:relative;
}

.page-layout {
  display: flex;
  margin: 0 auto;
  padding: 62px 15px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 24px;
  padding: 7px 0;
  background: var(--primary);
  color: var(--secondary);
  text-align: center;
}

.login {
  height: 350px;
}

.register {
  height: 85%;
  width: 85%;
}

@media screen and (max-width: 720px) {
  .page-layout {
    width: 100%;
    padding: 62px 0;
    flex-direction: column;
  }

  .login {
    height: 100%;
    width: 100%;
  }
}
