.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
  z-index: 2;
  display: none;
}

.modal .content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  animation: open-popup .2s;
}

.modal .closed {
  animation: close-popup .2s;
}

.modal iframe {
  display: block; 
  width: 100%; 
  height: 100%;
}

.modal .close {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
  color: var(--primary);
  font-size: 20px;
}

@keyframes open-popup {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes close-popup {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20%);
  }
}