.notifications {
  position: fixed;
  top: 0;
  right: 15px;
  z-index: 2;
}

.banner {
  margin-top: 2px;
  width: 300px;
  height: 35px;
  color: var(--secondary);
  border-radius: 5px;
  padding: 8px 0 20px;
  transition: all 0.2s ease-in-out;
}

.banner .title {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.banner .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.banner i {
  font-size: 33px;
  cursor: pointer;
}

.notifications .error {
  background: var(--notifyError);
}

.notifications .warning {
  background: var(--notifyWarn);
}

.notifications .info {
  background: var(--notifyInfo);
}

.notifications .success {
  background: var(--notifySuccess);
}

@media screen and (max-width: 720px) {
  .notifications {
    right: 0;
    width: 100%;
  }
  .banner {
    width: 100%;
  }
}
