.services {
  background: var(--secondary);
  border-radius: 4px;
  width: 100%;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.company-services {
  display: flex;
  flex-wrap: wrap;
}

.product-content {
  width: 148px;
  height: 220px;
  text-align: center;
  padding: 15px;
  border: 1px solid var(--gray);
  margin: 15px;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.product-content:hover {
  transform: scale(1.1);
}

.product-content img {
  width: 100%;
}

.services .info {
  border-bottom: 1px solid var(--gray);
  padding: 0px 15px;
}

.company-description {
  font-size: 19px;
  padding-bottom: 25px;
}

@media screen and (max-width: 720px) {
  .product-content {
    width: 100%;
    min-width: 165px;
    height: 100%;
  }

  .product-content:hover {
    transform: none;
  }

  .companies-list {
    height: 0px;
    overflow: hidden;
  }
}
